._button {
  border-radius: 3px;
  border: none;
  transition: all 1s;
  background-color: #70c1ec;
  font-weight: 600;
  color: #000;
  padding: 10px 20px;
  cursor: pointer;
}

._button:hover {
  background-color: #3c92c0;
}
