.board-row__square {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 25vmin;
  font-weight: bold;
  height: calc(75vmin / 3);
  margin-right: -5px;
  margin-top: -5px;
  padding: 0;
  width: calc(75vmin / 3);
  background: transparent;
  border: 5px solid black;
  cursor: pointer;
}

.board-row__square_status_winner {
  background-color: #ffff00;
}

.board-row__square_status_ordinary {
  background-color: rgb(10, 162, 233);
}
